<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Pokedex', root_path, class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Pokemon', pokemons_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Add Pokemon', new_pokemon_path, class:"nav-link"%>
      </li>
    </ul>
    <%= form_with url: search_path, method: :get, class: "form-inline my-2 my-lg-0" do |f| %>
      <%= f.text_field :query, class: "form-control mr-sm-2", placeholder: "Search", "aria-label": "Search" %>
      <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>