<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= pokemon.number %>
  </p>

  <p>
    <strong>Male:</strong>
    <%= pokemon.male %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= pokemon.hp %>
  </p>

  <p>
    <strong>Atk:</strong>
    <%= pokemon.atk %>
  </p>

  <p>
    <strong>Def:</strong>
    <%= pokemon.def %>
  </p>

  <p>
    <strong>Spatk:</strong>
    <%= pokemon.spatk %>
  </p>

  <p>
    <strong>Spdef:</strong>
    <%= pokemon.spdef %>
  </p>

  <p>
    <strong>Spd:</strong>
    <%= pokemon.spd %>
  </p>

  <p>
    <strong>Tot:</strong>
    <%= pokemon.tot %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pokemon.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pokemon.weight %>
  </p>

</div>
